body{
    font-family: "Oxanium", cursive;
    background:#000000 ;
    color: #fff;
}
.cabecalho{
    display: flex;
    justify-content: center;
}
.selecao-de-personagens{
    display: flex;
    align-items: center;
    gap: 30px;
}
.lista-de-personagens{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}